[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "~=3.1"
django-cors-headers = "==3.7.0"
# deploy
#zappa = "==0.54.1"


[dev-packages]
ansible-vault = "~=1.2"
django-stubs = "~=1.7"
flake8 = "~=3.8"
mypy = "~=0.910"
zappa = "==0.52.0"

[requires]
python_version = "3.8"
